**Python for Beginners**

In [ ]:
print("Merhaba, AI Python for Beginners: Basics of AI Python Coding")

Merhaba, AI Python for Beginners: Basics of AI Python Coding

In [ ]:
import sys
print(sys.version)

3.11.11 (main, Dec  4 2024, 08:55:07) [GCC 11.4.0]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
os.chdir('/content/drive/My Drive/veri_algoritmalar覺/veri_algoritmalar覺')
!pwd

/content/drive/My Drive/veri_algoritmalar覺/veri_algoritmalar覺

In [ ]:
print("""Hello, World!
It's great to be here!""")

Hello, World!
It's great to be here!

In [ ]:
print("Hello, World!
It's great to be here!")

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-6-9474c240c651>, line 1)

In [ ]:
type("Andrew")

str

In [ ]:
type("2.99")

str

In [ ]:
type(100)

int

In [ ]:
type(2.99)

float

In [ ]:
type(print(2+6))

8

NoneType

In [ ]:
print(1.05  **  10)

1.628894626777442

#Celsisus to Farenheit: Temp. in C=(Temp in F-32)*5/9

How do print statements work?

In [ ]:
print(75 - 32  *5 /9)

57.22222222222222

In [ ]:
print((75 - 32) *5 /9)

23.88888888888889

In [ ]:
print("The temperature 75F in degrees Celsius is ((75-32)* 5/9)C")

The temperature 75F in degrees Celsius is ((75-32)* 5/9)C

In [ ]:
print(f"The temperature 75F in degrees Celsius is {(75-32)* 5/9} C")

The temperature 75F in degrees Celsius is 23.88888888888889 C

In [ ]:
print("Isabel is 20 years old")

Isabel is 20 years old

1.Tells python to display to screen.

2.Checks for opening and closing parantheses.

3.Sees a quotation mark, checks for match to close.

In [ ]:
print(f"Isabel is {28/7} dog years old")

Isabel is 4.0 dog years old

1.Tells python to display to screen.

2.Checks for opening and closing parantheses.

3.Sees the f character-knows this is a formatted string

4.Check for opening and closing quotation marks.

5.Checks for opening and closing curly braces.

6.Carries out the calculation inside the curly braces.

In [ ]:
print(f"""
  Most countries use the metric system for recipe measurement,
  but American bakers use different system. For example, they use fluid ounces to measure liquids instead of milliliters (ml).

  So you need to convert recipe units to your local measuring system!

  For example, 8 fluid ounces of milk is {8*29.5735}ml.
  And 100 ml of water is {100/ 29.5735} fluid ounces.
""")

  Most countries use the metric system for recipe measurement,
  but American bakers use different system. For example, they use fluid ounces to measure liquids instead of milliliters (ml).

  So you need to convert recipe units to your local measuring system!

  For example, 8 fluid ounces of milk is 236.588ml.
  And 100 ml of water is 3.381405650328842 fluid ounces.

In [ ]:
print(f"""
  Most countries use the metric system for recipe measurement,
  but American bakers use different system. For example, they use fluid ounces to measure liquids instead of milliliters (ml).

  So you need to convert recipe units to your local measuring system!

  For example, 8 fluid ounces of milk is {8*29.5735: .2f}ml.
  And 100 ml of water is {100/ 29.5735: .2f} fluid ounces.
""")

  Most countries use the metric system for recipe measurement,
  but American bakers use different system. For example, they use fluid ounces to measure liquids instead of milliliters (ml).

  So you need to convert recipe units to your local measuring system!

  For example, 8 fluid ounces of milk is  236.59ml.
  And 100 ml of water is  3.38 fluid ounces.

In [ ]:
age = 28
print(age)

28

In [ ]:
age = 5

print(age)

5

In [ ]:
name = "Otto"
gnome_height = 12.7

In [ ]:
print(f"Age: {age}")

Age: 5

Variables

In [ ]:
print(f"Name : {name}")
print(f"Gnome height: {gnome_height}")

Name : Otto
Gnome height: 12.7

What variables are for

1.Give a value a name to use later

2.Use the same name to refer to changing values.

In [ ]:
score = 0 # now score is 0
print(score)

0

In [ ]:
score = score +50 #now score is 0+50 which is 50
print(score)

50

In [ ]:
score =score+100
print(score)

150

In [ ]:
score=score+300 #now score is 150+300 which is 450
print(score)

750

In [ ]:
print(f"Your final score was: {score}") # prints 450

Your final score was: 750

In [ ]:
print(49/7)

7.0

In [ ]:
print(f"Otto's age in dog years is {49/7}")

Otto's age in dog years is 7.0

In [ ]:
print(f"""Otto's age in dog years is {49/7}. So dog that is about
{49/7} would be the same age as Otto. Any dog born about {49/7}
years ago would be in the same stage of life as Otto.""")

Otto's age in dog years is 7.0. So dog that is about
7.0 would be the same age as Otto. Any dog born about 7.0
years ago would be in the same stage of life as Otto.

In [ ]:
dog_age=50/7

In [ ]:
print(f"""Otto's age in dog years is {dog_age}. So dog that is about
{dog_age} would be the same age as Otto. Any dog born about {dog_age}
years ago would be in the same stage of life as Otto.""")

Otto's age in dog years is 7.142857142857143. So dog that is about
7.142857142857143 would be the same age as Otto. Any dog born about 7.142857142857143
years ago would be in the same stage of life as Otto.

In [ ]:
name= " Otto Matic"

In [ ]:
print(len("Hello World!"))

12

print(f"""{name}'s age in dog years is {dog_age}. So dog that is about
{dog_age} would be the same age as{name}. Any dog born about {dog_age}
years ago would be in the same stage of life as {Otto}.""")

In [ ]:
round=42.17
print(round)

42.17

In [ ]:
string_length=len("Hello World!")
print(string_length)

12