**Python for Beginners**

In [ ]:
print("Merhaba, Alison-Python for Beginners")

Merhaba, Alison-Python for Beginners

In [ ]:
import sys
print(sys.version)

3.11.11 (main, Dec  4 2024, 08:55:07) [GCC 11.4.0]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
os.chdir('/content/drive/My Drive/veri_algoritmalar覺/veri_algoritmalar覺')
!pwd

/content/drive/My Drive/veri_algoritmalar覺/veri_algoritmalar覺

Variable scope

In [ ]:
x = 10
def function():
  #global x
  x = 20

function()
print(x)

10

Returning Data

In [ ]:
def reverse(string):
 return string[::-1]

reversedString= reverse('hello')
print('data', reversedString)

data olleh

Recursion

In [ ]:
def iteratveFactorial(n):
  result=1
  for i in range(n, 0, -1):
    result =result * i
  return result

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n* factorial(n-1)

print(factorial(5))

120

Tuples

In [ ]:
tuple1 = (12, 13, 14, 15)
print(tuple1)

(12, 13, 14, 15)

In [ ]:
tuple2 = (12, 13, 14, 15)
print(tuple[2])

tuple[2]

In [ ]:
list1=[1,2,3,4]
tuple3 = tuple(list1)
print(tuple3)

(1, 2, 3, 4)

In [ ]:
tup1 = (1, 2, 3, 5)
l1 =list(tup1)
l1[3] = 4
tup1 =tuple(l1)
print(tup1)

(1, 2, 3, 4)

Dictionaries

In [ ]:
employee = {
    'name' : 'John Smith',
    'age' : 39,
    'Salary' : '$10,000',
    'Designation' : 'Manager'
 }
for i in employee.values():
  print (i)

John Smith
39
$10,000
Manager

In [ ]:
employee = {
    'name' : 'John Smith',
    'age' : 39,
    'Salary' : '$10,000',
    'Designation' : 'Manager'
 }
for key in employee:
  print (key + ":"+str(employee[key]))

name:John Smith
age:39
Salary:$10,000
Designation:Manager

**Modules**
A module for string operations

In [ ]:
def reverseString(string):
  return string[::-1]